{% load gcm_messenging %}

LIST ALL AVAILABLE SPOUSE QUESTIONS
{% if SpouseRequests %}
	<ul>
	{% for SpouseRequest in SpouseRequests %}
		<li>	
			{{ SpouseRequest.question }}
			{{ SpouseRequest.votes }}
		</li></br>
		
		
		{% if Devices %}
			{% for Device in Devices %}
					{{ Device.name }} : {{ Device.dev_id }}
					{{ Device | send_phone:SpouseRequest.question}}
			{% endfor %}
		{% else %}
		    <p>No devices are available.</p>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
    <p>No requests are available.</p>
{% endif %}


LIST ALL AVAILABLE SPOUSE RESPONSEs
{% if SpouseResponses %}
	<ul>
	{% for SpouseResponse in SpouseResponses %}
		<li>
			
			{{ SpouseResponse.answer }}
			{{ SpouseResponse.votes }}
		</li></br>
	{% endfor %}
	</ul>
{% else %}
    <p>No REsponses are available.</p>
{% endif %}


 
LIST ALL DEVICEs
{% if Devices %}
	<ul>
	{% for Device in Devices %}
		<li>
			{{ Device.name }} : {{ Device.dev_id }}
		</li>
		</br>
	{% endfor %}
	</ul>
{% else %}
    <p>No devices are available.</p>
{% endif %}
